:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-image: url('./images/background.jpg');
  display: flex;
  justify-content: center;
  justify-items: center;
}

.band-container {
  background-color: #e6d385;
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.info-container {
  background-color: #e6d385;
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

a {
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  font-size: 3rem;
}

p {
  padding-left: 2rem;
  padding-right: 2rem;
}
